<!-- Header -->
<header class="container-fluid">
    <div class="row">
        <div class="col-2 col-md-2 col-lg-2 col-xl-2">
            <div class="logo">
                <img src="image/logo.png" alt="cette image représente le logo hero" />
            </div>
        </div>
        <div class="col-8 col-md-8 col-lg-8 col-xl-8 verticalealigne-header-home">
            <div class="navTop">
                <nav class="text-center ">
                    <a href="" class="menu nav-a-color">HOME</a>
                    <a href="" class="menu nav-a-color">SHOP ▾</a>
                    <a href="" class="menu nav-a-color">JOURNAL</a>
                    <a href="" class="menu nav-a-color">MORE ▾</a>
                </nav>
            </div>
        </div>
        <div class="col-2 col-md-2 col-lg-2 col-xl-2 verticalealigne-header-home">
            <div class="carts">
                <img class="d-md-none" src="image/panier.PNG"
                    alt="panier pour l'affichage des commande de l'utilisateur" /><span class="d-none d-md-inline">My
                    cartds</span><sup class="d-none d-md-inline">(2)</sup>
            </div>
        </div>
    </div>
</header>