<!DOCTYPE html>
<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    <%- include('cart-layout/aside-top-cart'); %>
    <%- include('partials/footer'); %>
</body>

</html>