<!DOCTYPE html>
<%- include('partials/head'); %>

<body>
    <%- include('partials/header'); %>
    <%- include('product-details-layout/breadcrumb'); %>
    <%- include('partials/footer'); %>
</body>

</html>