<main class="container-fluid">
    <div class="row background-section-master-top-home">
        <div class="col-sm-3 col-1"></div>
        <div class="col-sm-6 col-10 background-color-section-child-top-home">
            <div class="container-fluid verticalealigne-section-home">
                <div class="text-center">
                    <h1>Plates</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio rem, ea
                        modi autem accusamus ipsum neque. Eveniet tempora quis nemo, veniam
                        earum culpa architecto voluptate. Vero reiciendis quo architecto odit.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-1"></div>
    </div>
    </div>
    <%- include('all-product-home'); %>
</main>