// BACKGOUND COLOR
@color-backgroud-global: white;
@background-color-section-top-home: #393935;
@background-section-top-home: url('image/plates-header.jpg');
@backgroundbg-gray-for-cards: #EAEAEA;
// @color-background-secondary: white;
//COLOR
@colorbouton66666: #666666;
@colorffff: #ffffff;
// TEXT
@zero: 0;
@color-global-text: black;
@color-secondary: white;
@color-tiers: rgb(57, 57, 53);
// @text-center: text-center;
@text-aligne-center: center;
@text-aligne-end: end;
@text-aligne-initial: initial;
@text-underlined-less: underline;
@text-underline-position: under;
//LINK
@linkoff: none;

//font-size
@font-size-h2: 3em;
@font-size-small: 1.2em;

// MARGIN
@margin-top-5: 5%;
@margin-top-10: 10%;
@margin-top-20: 20%;
@margin-top-35: 35%;
@margin-auto: auto;
//PADDING
@padding-2: 2%;
// HEIGHT
@height-size-100vh: 100vh;
@height-size-225px: 225px;
@height-section-top-home: 300px;
@sizeimg-product: 520px;
@height50: 50px;

//WIDTH
@width-100-100: 100%;
@width200px: 200px;

// POSITION CENTER
@place-content-center: center;
@inline: inline;
//BORDER
@solid: solid;
@border-bottom-gray: @solid 1px gray;

//etat
@visible: visible;
@hidden: hidden;

body {
    background-color: @color-backgroud-global;
    color: @color-global-text;
    padding: @zero;
    margin: @zero;
    height: @height-size-100vh;
}

// HEADER TOP 
//Header top parents>child
.verticalealigne-header-home {
    margin-top: @zero;
    text-align: @text-aligne-center;

}

.nav-a-color {
    text-decoration: @linkoff;
    color: @color-tiers;
    font-weight: 800;
    font-family: "Arial",
        sans-serif;
    padding: 1%;
    font-size: 12px;
}

.navTop {
    margin-top: 3%;
    ;
}

//BURGUER BUTTOM
.containerburger {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px @zero;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: @zero;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

// END HEADER

// TOP HOME
// section-top-home parents
.background-section-master-top-home {
    background-image: @background-section-top-home;
    height: @height-section-top-home;
    color: @color-secondary;
}

// top-home parents>child
.background-color-section-child-top-home {
    background-color: @background-color-section-top-home;
}

//top-home parents>child>child
.verticalealigne-section-home {
    margin-top: @margin-top-10;
}

// END TOp HOME

// ALL PRODUCT HOMME
// Container parents

.container-parents-products {
    margin-top: @margin-top-5;
}

//Cards product
.width100 {
    width: @width-100-100;
    height: @height-size-225px;
}

// PRODUCT DETAILS PAGE
// Container parentss
.place-content-center {
    place-content: @place-content-center;
}

//Product 
.border-bottom-gray {
    border-bottom: @border-bottom-gray;
}

.position {
    margin-top: @margin-top-5;
}

.font-size-h2 {
    font-size: @font-size-h2;
}

.font-size-small {
    font-size: @font-size-small;
}

.bg-color {
    background-color: rgb(187, 187, 187);
}

.margin35 {
    margin-top: @margin-top-35;

}

.hidden {
    display: @linkoff;
}

.bg-color-2 {
    background-color: rgb(230, 227, 227);
}

.butomadd {
    width: -webkit-fill-available;
}

.sizeimg {
    height: 540px;
    width: @width-100-100;
}

.navbar,
.navbar-inverse {
    border-radius: @zero;
    border: @linkoff;
    margin-bottom: @zero;
    min-height: 80px;
}

.nav li {
    display: @inline;
    color: white;
}

.navbar-inverse .navbar-nav>li>a {
    color: @colorffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: @width-100-100;
}

//popup
.hcontainerpopuptml {
    font-family: "Helvetica Neue", sans-serif;
    width: @width-100-100;
    color: @colorbouton66666;
    text-align: @text-aligne-center;
}

.popup-overlay {
    /*Hides pop-up when there is no "active" class*/
    visibility: @hidden;
    position: absolute;
    background: @colorffff;
    border: 3px @solid @colorbouton66666;
    z-index: 1000;
    width: 40%;
    height: 72%;
    left: 58%;
}

.popup-overlay.active {
    /*displays pop-up when "active" class is present*/
    visibility: @visible;
    text-align: @text-aligne-center;
}

.popup-content {
    /*Hides pop-up content when there is no "active" class */
    visibility: @hidden;
}

.popup-content.active {
    /*Shows pop-up content when "active" class is present */
    visibility: @visible;
}

.delette {
    visibility: @hidden;
}

.button1 {
    display: inline-block;
    vertical-align: middle;
    border-radius: 30px;
    margin: 2rem;
    font-size: 1rem;
    color: @colorbouton66666;
    background: @colorffff;
    border: 1px @solid @colorbouton66666;
}

.button1:hover {
    border: 1px @solid @colorbouton66666;
    background: @colorbouton66666;
    color: @colorffff;
}

//CART 
.bg-gray-for-cards {
    background-color: @backgroundbg-gray-for-cards;
    padding: @padding-2 @margin-top-20 @zero @margin-top-20;
}

.text-aligne-initial {
    text-align: @text-aligne-initial;
}

// all product cart
.text-underlined-less {
    text-decoration: @text-underlined-less;
    text-underline-position: @text-underline-position;
}

.boutonallcardparents {
    text-align: @text-aligne-end;
    margin-bottom: @margin-top-5;
}

.boutonallcard {
    margin-right: @margin-top-10 ;
    height: @height50;
    width: @width200px;
    background-color: @color-global-text;
    color: @colorffff ;

}

.titleshoppingcard {
    padding-bottom: 2%;
}

// FOOTER
.bg-color {
    background-color: @backgroundbg-gray-for-cards;
}

.margin--none {
    margin-top: @zero;
}

//MEDIA QUERY 
@media only screen and (max-width: 991px) {
    .font-size-h2 {
        font-size: 1.9em;
    }

    .margin--none {
        margin-top: 0;
    }

    .sizeimg {
        height: @sizeimg-product;
    }

    .sizespan {
        text-align: left !important;
    }

    .navdisplay1 {
        display: block !important;
        text-align: @text-aligne-center;
        margin-top: @margin-auto;
    }

    .centragelogo-mobile {
        width: 55%;
    }

    .navdisplay {
        display: @linkoff;

    }

    .logocenter {
        text-align: @text-aligne-center;
    }

    .popup-overlay {
        width: 70%;
        height: 72%;
        left: 25%;
    }
}

@media only screen and (max-width: 515px) {
    .width100 {
        height: 150px;
    }

    .popup-overlay {
        width: 84%;
        height: 80%;
        left: 15%;
    }

    .background-color-section-child-top-home {
        height: inherit;
    }

    .margin--none {
        margin-top: @zero;
    }
}

@media only screen and (max-width: 260px) {
    .logocenter {
        text-align: @text-aligne-end;
    }



    .logocenterimg {
        width: 80px;
    }
}